//#####################################################
//  Colours
//#####################################################

$dark: #A9A9A9;
$light: #d1c7c7;
$lightText: #FFF;

//#####################################################
//  Generic Styles
//#####################################################

body {
	font-family: 'Comfortaa', cursive;
}
//#####################################################
//  Module Imports
//#####################################################

// knob
@import 'modules/knob';