//#####################################################
//  Colours
//#####################################################

$dark: #A9A9A9;
$light: #d1c7c7;
$lightText: #FFF;

//#####################################################
//  Dimensions
//#####################################################

$spacing: 5px;
$componentScale: 150px; // TODO sort out the scaling of text, looks wierd when very small and when very big
$textSize: 14px;

//#####################################################
//  Generic Styles
//#####################################################

body {
	font-family: 'Comfortaa', cursive;
}
//#####################################################
//  Module Imports
//#####################################################

// knob
@import 'modules/knob';

// fader
@import 'modules/fader';