//#####################################################
//  Colours
//#####################################################

$dark: #A9A9A9;
$light: #d1c7c7;
$lightText: #FFF;

//#####################################################
//  Dimensions
//#####################################################

$componentScale: 100px; // TODO sort out the scaling of text, looks wierd when very small and when very big
$spacing: $componentScale * 0.05;;
$textSize: $componentScale * 0.17;

//#####################################################
//  Generic Styles
//#####################################################

body {
	font-family: 'Comfortaa', cursive;
}
//#####################################################
//  Module Imports
//#####################################################

// knob
@import 'modules/knob';

// fader
@import 'modules/fader';

// step sequencer
@import 'modules/step-sequencer';