$knobSize: $componentScale;
$faceSize: $knobSize * 0.9;

.knobs-container {
  min-width: (5 * $componentScale) + (10 * $spacing);
  max-width: (5 * $componentScale) + (10 * $spacing);
  float: left;
}

.knob-container {
  margin: $spacing;
  display: inline-block;
  background-image: linear-gradient(to bottom, $dark, #baabab);
  border-radius: 4px;
  width: $knobSize;

  .knob-background {
    height: $knobSize;
    width: $knobSize;
    display: inline-block;
  }
  .face {
    width: $faceSize;
    height: $faceSize;
    position: relative;
    top: $knobSize*0.05;
    left: $knobSize*0.05;
    background-color: $light;
    border-radius: 50%;
  }
  .position {
    height: $faceSize * 0.5;
    width: $knobSize * 0.05;
    display: block;
    z-index: 2;
    position: relative;
    top: $faceSize*0.5;
    left: $faceSize*0.475;
    background-color: $lightText;
    border-radius: 1em;
  }
  .knob-info {
    display: block;
    color: $lightText;
    border-radius: 0 0 4px 4px;
    background-color: $light;
    padding-left: $knobSize * 0.02;
    padding-right: $knobSize * 0.02;
    padding-top: $knobSize * 0.01;
    font-size: $textSize; 
    .midi-channel {
      width: $knobSize * 0.18;
      display: inline-block;
    }
    .knob-label {
      width: $knobSize * 0.6;
      text-align: center;
      margin-top: 0;
      margin-bottom: 0; 
      display: inline-block;
    }
    .midi-value {
      width: $knobSize * 0.18;
      display: inline-block;
      text-align: right;
    }
  }
}



